@media (max-width: 1200px) {
  #header {
    .navbar {
      .navbar--right {
        a {
          font-size: 14px;
        }
      }

      &--left {
        button {
          padding: 10px 30px !important;
          font-size: 10px !important;
        }

        a {
          display: none;
        }
      }
    }
  }

  #home {
    img {
      width: 90%;
    }

    .home {
      .home--general {
        &__right {
          &--text {
            font-size: 25px !important;
          }

          &--btn {
            button {
              padding: 12px 30px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  #about {
    img {
      width: 90%;
    }

    .about {
      .about--left {
        h1 {
          font-size: 25px !important;
        }

        p {
          line-height: 20px;
          font-size: 13px;
        }

        &__btn {
          button {
            font-size: 12px;
          }
        }
      }
    }
  }

  #courses {
    img {
      width: 90%;
    }

    .courses {
      .courses--general {
        &__blocks {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          &--one {
            width: 700px !important;
          }
        }
      }
    }
  }

  #benefits {
    img {
      width: 90%;
    }

    .benefits {
      .benefits--top {

        justify-content: center !important;

        &__one {
          button {
            font-size: 11px !important;
          }
        }
      }
    }
  }

  #events {
    .events {
      h1 {
        font-weight: 700 !important;
      }

      .events--general {
        &__block {
          &--one {
            h2 {
              font-weight: 700;
              font-size: 14px;
            }

            &__right {
              h4 {
                font-size: 30px;
              }

            }

            &__left {
              button {
                font-size: 12px;
              }
            }
          }
        }

        &__bottom {
          &--group {
            h4 {
              font-weight: 700;
              font-size: 15px;
              color: #1E212C;
              margin: 0 50px;

            }

            button {
              font-size: 13px;
            }
          }
        }
      }
    }
  }


  #certificate {
    .certificate {
      .certificate--right {
        h1 {
          font-weight: 700;
          font-size: 30px;
        }

        &__bottom {
          img {
            margin: 10px 10px;
          }
        }
      }

      .certificate--left {
        img {
          width: 90%;
        }
      }
    }
  }

  #team {
    .team {
      h3 {
        font-size: 12px !important;
      }

      h1 {
        font-weight: 500;
        font-size: 30px !important;
      }

      &--slid {
        &__block {
          &--two {
            h1 {
              font-weight: 500;
              font-size: 15px !important;
            }

            p {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }

  #blog {
    img {
      width: 90%;
    }

    .blog {
      .blog--center {
        &__one {
          &--data {
            ion-icon {
              font-size: 15px;
            }

            p {
              font-size: 10px !important;
            }
          }

          h4 {
            font-weight: 700;
            font-size: 15px;

          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  #contact {
    .contact {
      h1 {
        font-weight: 700;
        font-size: 30px !important;
      }

      .contact--modal {
        &__bg {
          &--square {
            &__inputs {
              input {
                width: 300px;

              }

              &--bottom-content {
                &__btn {
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    .footer {
      .footer--general {
        h1 {
          font-weight: 600;
          font-size: 18px;
        }

        &__one {
          p {
            font-size: 12px;
          }

          ion-icon {
            font-size: 20px;
          }
        }

        &__two {
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__three {
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__four {
          &--phone {
            ion-icon {
              font-size: 15px;
            }
          }

          &--email {
            ion-icon {
              font-size: 15px;
            }
          }
        }
      }
    }
  }


}

@media (max-width: 1024px) {
  #header {
    .navbar {
      .navbar--right {
        a {
          font-size: 14px;
        }
      }

      &--left {
        button {
          font-size: 12px;
        }

        a {
          font-size: 14px !important;

          ion-icon {
            font-size: 15px !important;
          }
        }
      }
    }
  }

  #home {
    img {
      width: 90%;
    }

    .home {
      .home--general {
        &__right {
          &--text {
            font-size: 30px;
          }

          &--btn {
            button {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  #courses {
    img {
      width: 90%;
    }

    .courses {
      .courses--general {
        &__blocks {
          &--one {
            display: flex;
            background: #e7e7e7;
            width: 500px;
            height: 150px;
            border-radius: 10px;
            margin: 2rem 0;

          }
        }
      }
    }
  }

  #about {
    img {
      width: 90%;
    }

    .about {
      .about--left {
        h1 {
          font-weight: 700;
          font-size: 37px;
        }

        p {
          line-height: 20px;
        }

        &__btn {
          button {
            font-size: 12px;
          }
        }
      }
    }
  }

  #benefits {
    img {
      width: 90%;
    }

    .benefits {
      .benefits--top {
        justify-content: space-evenly;

        &__one {
          button {
            font-size: 13px;
          }
        }
      }
    }
  }

  #certificate {
    .certificate {
      .certificate--right {
        h1 {
          font-weight: 700;
          font-size: 30px;
        }

        &__bottom {
          img {
            margin: 10px 10px;
          }
        }
      }

      .certificate--left {
        img {
          width: 90%;
        }
      }
    }
  }

  #team {
    .team {
      h3 {
        font-size: 12px !important;
      }

      h1 {
        font-weight: 500;
        font-size: 30px !important;
      }

      &--slid {
        &__block {
          &--two {
            h1 {
              font-weight: 500;
              font-size: 15px !important;
            }

            p {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }

  #blog {
    img {
      width: 90%;
    }

    .blog {
      .blog--center {
        &__one {
          &--data {
            ion-icon {
              font-size: 15px;
            }

            p {
              font-size: 10px !important;
            }
          }

          h4 {
            font-weight: 700;
            font-size: 15px;

          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  #contact {
    .contact {
      h1 {
        font-weight: 700;
        font-size: 30px !important;
      }

      .contact--modal {
        &__bg {
          &--square {
            &__inputs {
              input {
                width: 300px;

              }

              &--bottom-content {
                &__btn {
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    .footer {
      .footer--general {
        h1 {
          font-weight: 600;
          font-size: 18px;
        }

        &__one {
          p {
            font-size: 12px;
          }

          ion-icon {
            font-size: 20px;
          }
        }

        &__two {
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__three {
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__four {
          &--phone {
            ion-icon {
              font-size: 15px;
            }
          }

          &--email {
            ion-icon {
              font-size: 15px;
            }
          }
        }

        &__five {
          display: none;
        }
      }
    }
  }


}

@media (max-width: 992px) {
  #header {
    .navbar {
      .navbar--right {
        a {
          font-size: 14px;
        }
      }

      &--left {
        button {
          display: none;
        }

        a {
          font-size: 14px !important;

          ion-icon {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .navbar {
      nav {
        display: none;
      }

      .navbar--right {
        a {
          font-size: 14px;
        }
      }

      .menu__btn {
        display: block;
      }
    }
  }

  #home {
    img {
      width: 90%;
    }

    .home {
      .home--general {
        flex-wrap: wrap;
        justify-content: center;

        &__right {
          &--text {
            font-size: 40px !important;
          }

          &--btn {
            button {
              font-size: 10px;
              margin: 30px 0;
            }
          }
        }
      }

      .home--bottom {
        &__one {
          h1 {
            font-weight: 800;
            font-size: 20px;

          }

          p {
            font-weight: 400;
            font-size: 14px;
          }
        }

        &__circle {
          display: none;
        }
      }
    }
  }

  #about {
    img {
      width: 90%;
    }

    .about {
      flex-wrap: wrap;
    }
  }

  #benefits {
    .benefits {
      &--bottom {
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
  }

  #events {
    .events {
      .events--general {
        &__block {
          &--one {
            padding: 10px 10px;

            h2 {
              font-weight: 700;
              font-size: 13px;
              color: #1E212C;
            }

            &__right {
              display: flex;
              align-items: center;

              h4 {
                font-size: 27px;
              }

            }

            &__left {
              button {
                padding: 7px 20px;
                font-size: 10px;

              }
            }
          }
        }

        &__bottom {
          &--group {
            h4 {
              font-size: 18px;
            }

            button {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #certificate {
    .certificate {
      flex-wrap: wrap;
      margin: 0 20px;

      &--right {
        h3 {
          font-weight: 400;
          font-size: 16px;
          color: #1E212C;
        }

        h1 {
          font-weight: 800;
          font-size: 40px;
          color: #1E212C;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #424551;
          padding: 15px 0;

        }

        &__bottom {
          img {
            margin: 10px 10px;
          }
        }
      }
    }
  }

  #team {
    .team {
      h3 {
        font-weight: 700;
        font-size: 16px;
        color: #1E212C;
      }

      h1 {
        font-weight: 600;
        font-size: 40px;
        color: #1E212C;
      }

      &--slid {
        .swiper {
          min-height: 250px !important;
        }
      }
    }
  }

  #blog {
    .blog {
      &--center {
        flex-wrap: wrap;

        &__one {
          margin: 20px 20px;
        }
      }
    }
  }

  #contact {
    .contact {

      button {
        padding: 10px 50px;
        background: transparent;
        border-radius: 6px;
        transition: .4s;
        cursor: pointer;
        color: red;
        border: 2px solid red;

        &:hover {
          transform: scale(1.1);
          background: #FF3F3A;
          color: #FFFFFF;
        }
      }
    }

    .contact--modal {
      display: none;

      &__bg {
        &--square {
          &__inputs {
            input {
              width: 200px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  #home {
    padding-top: 100px!important;
    img {
      width: 90%;
    }

    .home {
      .home--general {
        &__right {
          &--text {
            font-size: 25px!important;
            padding: 10px 0;
          }

          &--btn {
            button {
              font-size: 10px;
              margin: 15px 10px;
            }
          }
        }
      }
      .home--bottom {
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  #courses {
    img {
      width: 90%;
    }

    .courses {
      .courses--general {
        &__top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-weight: 700;
            font-size: 25px;
          }

          button {
            font-size: 12px;
          }
        }
        &__blocks {
          &--one {
            width: 350px!important;
            height: 144px;
            img{
              width: 143px;
            }
            &__content {
              &--color {
                width: 100px;
                margin: 5px 10px;
              }

              h3 {
                font-weight: 400;
                font-size: 15px;
                padding: 10px 10px;
              }

              h2 {
                span {
                  font-weight: 400;
                  font-size: 13px;
                }

                font-weight: 400;
                font-size: 13px;
                padding: 10px 10px;
              }
            }
          }
        }
      }
    }
  }

  #about {
    img {
      width: 90%;
    }

    .about {
      .about--left {
        h1 {
          font-weight: 700;
          font-size: 37px;
        }

        p {
          line-height: 20px;
        }

        &__btn {
          button {
            font-size: 12px;
          }
        }
      }
    }
  }

  #benefits {
    img {
      width: 90%;
    }

    .benefits {
      h5{
        font-weight: 700;
        font-size: 16px;

      }
      h1 {
        font-weight: 700!important;
        font-size: 25px!important;
      }
      .benefits--top {
        flex-direction: column;

        &__one {
          button {
            font-size: 13px;
          }
        }
      }
    }
  }

  #certificate {
    .certificate {
      .certificate--right {
        h1 {
          font-weight: 700;
          font-size: 30px;
        }

        &__bottom {
          img {
            margin: 10px 10px;
          }
        }
      }

      .certificate--left {
        img {
          width: 90%;
        }
      }
    }
  }

  #team {
    .team {
      h3 {
        font-size: 12px !important;
      }

      h1 {
        font-weight: 500;
        font-size: 30px !important;
      }

      &--slid {
        &__block {
          &--two {
            h1 {
              font-weight: 500;
              font-size: 15px !important;
            }

            p {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }

  #blog {
    img {
      width: 90%;
    }

    .blog {
      .blog--center {
        &__one {
          &--data {
            ion-icon {
              font-size: 15px;
            }

            p {
              font-size: 10px !important;
            }
          }

          h4 {
            font-weight: 700;
            font-size: 15px;

          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  #contact {
    .contact {
      h1 {
        font-weight: 700;
        font-size: 30px !important;
      }

      .contact--modal {
        &__bg {
          &--square {
            width: 300px;
            &__inputs {
              input {
                width: 300px;

              }

              &--bottom-content {
                &__btn {
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    .footer {
      .footer--general {
        flex-direction: column;
        h1 {
          font-weight: 600;
          font-size: 18px;
        }

        &__one {
          margin: 10px 0;
          p {
            font-size: 12px;
          }

          ion-icon {
            font-size: 20px;
          }
        }

        &__two {
          margin: 10px 0;
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__three {
          margin: 10px 0;
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        &__four {
          margin: 10px 0;
          &--phone {
            ion-icon {
              font-size: 15px;
            }
          }

          &--email {
            ion-icon {
              font-size: 15px;
            }
          }
        }

        &__five {
         display: none;
        }
      }
    }
  }



}


